.stylediv1{
    height: 400px;
    width: 1050px;
    outline: none;
    border-color: crimson;
    box-shadow: 5pX 5px 20px brown;
    
    text-align: center;
    /* background: linear-gradient(45deg, brown, pink); */
    margin-top: 10px;
    /* background-color: crimson; */
    background-color: crimson;
    opacity: 0.5;

}
.stylediv1:hover{
    box-shadow: 0 1px 2px rgba(164, 34, 34, 0.2);
        z-index: 3;
        opacity: .8;
}
.box-shadow{
	-webkit-box-shadow: 0 1px 1px rgba(254, 8, 8, 0.8);
	box-shadow: 0 1px 1px rgba(239, 5, 5, 0.8);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.box-shadow:hover{
	-webkit-box-shadow: 0 10px 20px rgba(251, 0, 0, 0.8);
	box-shadow: 0 20px 20px rgba(249, 2, 2, 0.8);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.hover-style:hover{
        z-index:10;
        width:960px;
        height:400px;
        opacity: 1.0;
      }