.stylediv1{
    height: 400px;
    width: 850px;
    outline: none;
    border-color: crimson;
    box-shadow: 5pX 5px 20px brown;
    
    text-align: center;
    /* background: linear-gradient(45deg, brown, pink); */
    margin-top: 10px;
    /* background-color: crimson; */

}